:root {
  --color-primary: #040e16;
  --color-secondary: #b2dde1;
  --color-accent: rgb(12, 33, 49);
  --color-fourth: #002c3d;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

#navbar {
  font-weight: 700;
  font-size: 1.5em;
  background-color: var(--color-fourth);
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  transition: background-color 0.3s;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: var(--color-light-brown);
  color: var(--color-dark-green);
}

/* Content to enable scrolling */
.content {
  margin: 100px 0; /* Space for the navbar */
  height: auto;
  text-align: justify;
  border: solid 1px var(--color-fourth);
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: var(--color-accent) 0px 19px 38px,
    var(--color-accent) 0px 15px 12px;
}

.content-items {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-items img {
  height: 550px;
  width: 550px;
  padding: 2em 0;
}

.content-items h1 {
  font-size: 1.7em;
  text-decoration: underline;
  text-align: center;
}

.content-items h2 {
  padding-top: 2em;
  font-size: 1.5em;
}

.content-items p {
  font-size: 16px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-light-brown);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

/* Responsive design for tablets */
@media (max-width: 768px) {
  .content {
    padding: 0 20px;
  }

  .content-items img {
    height: 300px;
    width: 300px;
  }

  .content-items p {
    font-size: 16px;
  }
}

/* Responsive design for mobile phones */
@media (max-width: 480px) {
  .content {
    padding: 0 10px;
  }

  #navbar {
    padding: 10px;
  }

  .content-items img {
    height: 200px;
    width: 200px;
  }

  .content-items p {
    font-size: 14px;
  }

  .content-items h1 {
    font-size: 1.3em;
  }

  .content-items h2 {
    padding-top: 2em;
    font-size: 1.5em;
  }

  @media (max-width: 320px) {
    .content {
      padding: 0 5px;
    }

    #navbar {
      padding: 12px;
    }

    .content-items img {
      height: 200px;
      width: 200px;
    }

    .content-items p {
      font-size: 10px;
    }

    .content-items h1 {
      font-size: 1em;
    }

    .content-items h2 {
      padding-top: 2em;
      font-size: .8em;
    }
  }
}
